# CVS default ignores begin
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
*.a
*.o
*.so
*.Z
*.elc
*.ln
core
# CVS default ignores end
*.pyc
# OSX system files
.DS_store

/doc/_build/

/eesupp/src/exch_xy_r[ls48].F
/eesupp/src/exch_3d_r[ls48].F
/eesupp/src/exch_xyz_r[ls48].F
/eesupp/src/exch_s3d_r[ls48].F
/eesupp/src/exch_uv_xy_r[ls48].F
/eesupp/src/exch_uv_3d_r[ls48].F
/eesupp/src/exch_uv_xyz_r[ls48].F
/eesupp/src/exch_z_3d_r[ls48].F
/eesupp/src/exch_sm_3d_r[ls48].F
/eesupp/src/exch_uv_agrid_3d_r[ls48].F
/eesupp/src/exch_uv_bgrid_3d_r[ls48].F
/eesupp/src/exch_uv_dgrid_3d_r[ls48].F
/eesupp/src/exch0_r[ls48].F
/eesupp/src/exch1_r[ls48].F
/eesupp/src/exch1_r[ls48]_cube.F
/eesupp/src/exch1_uv_r[ls48]_cube.F
/eesupp/src/exch1_z_r[ls48]_cube.F
/eesupp/src/exch1_bg_r[ls48]_cube.F
/eesupp/src/exch1_r[ls]_ad.F
/eesupp/src/exch1_r[ls]_cube_ad.F
/eesupp/src/exch_r[ls48]_send_get_[xy].F
/eesupp/src/exch_r[ls48]_send_put_[xy].F
/eesupp/src/exch_r[ls48]_recv_get_[xy].F
/eesupp/src/exch_r[ls48]_recv_put_[xy].F
/eesupp/src/gather_2d_r[48].F
/eesupp/src/scatter_2d_r[48].F
/eesupp/src/gather_vec_r[48].F
/eesupp/src/scatter_vec_r[48].F
/eesupp/src/gather_2d_wh_r[48].F
/eesupp/src/scatter_2d_wh_r[48].F

/pkg/embed_files/decode_files
/pkg/embed_files/encode_files
/pkg/embed_files/files.h
/pkg/embed_files/ex.tar.gz
/pkg/embed_files/t8
/pkg/embed_files/test

/pkg/mnc/MNC_RESHAPE_R*.F
/pkg/mnc/MNC_ID_HEADER.h
/pkg/mnc/MNC_CW_READWRITE_R*
/pkg/mnc/MNC_CW_READWRITE_I*
/pkg/mnc/mnc_netcdf_stubs.c

/pkg/exch2/exch2_get_r[ls48][12].F
/pkg/exch2/exch2_put_r[ls48][12].F
/pkg/exch2/exch2_ad_get_r[ls48][12].F
/pkg/exch2/exch2_ad_put_r[ls48][12].F
/pkg/exch2/exch2_recv_r[ls48][12].F
/pkg/exch2/exch2_send_r[ls48][12].F
/pkg/exch2/exch2_r[ls48][12]_cube.F
/pkg/exch2/exch2_r[ls48][12]_cube_ad.F
/pkg/exch2/exch2_3d_r[ls48].F
/pkg/exch2/exch2_s3d_r[ls48].F
/pkg/exch2/exch2_z_3d_r[ls48].F
/pkg/exch2/exch2_sm_3d_r[ls48].F
/pkg/exch2/exch2_uv_3d_r[ls48].F
/pkg/exch2/exch2_uv_agrid_3d_r[ls48].F
/pkg/exch2/exch2_uv_bgrid_3d_r[ls48].F
/pkg/exch2/exch2_uv_cgrid_3d_r[ls48].F
/pkg/exch2/exch2_uv_dgrid_3d_r[ls48].F

/pkg/regrid/regrid_scalar_out_RL.F
/pkg/regrid/regrid_scalar_out_RS.F

/tools/Makefile.*

/tools/cyrus-imapd-makedepend/Makefile
/tools/cyrus-imapd-makedepend/config.*
/tools/cyrus-imapd-makedepend/makedepend
/tools/cyrus-imapd-makedepend/*.o

/tools/embed_encode/encode_files

/tools/mpack-1.6/Makefile
/tools/mpack-1.6/config.*
/tools/mpack-1.6/*.1
/tools/mpack-1.6/mpack
/tools/mpack-1.6/munpack

/utils/knudsen2/POLY3.COEFFS
/utils/knudsen2/polyeos.coeffs

/verification/*.log
/verification/tr_*
/verification/rs_*
/verification/tst_2+2_out.txt
/verification/tmp_*

/verification/*/tr_run.*

/tools/TAP_support/ADFirstAidKit/*.gch
