# Travis file for running some basic set of testreport checks on each commit
language: python

services:
 - docker

before_install:
    # Set up environment needed to run testreport code tests
  - docker pull mitgcm/mitgcm-openad-test:centos-test
  - docker run -i -t -v `pwd`:/MITgcm -d --name openad-testing --ulimit stack=-1:-1 --rm mitgcm/mitgcm-openad-test:centos-test /bin/bash
  - docker pull mitgcm/testreport-images:fc11-base-20170715
  - docker run  -v `pwd`:/MITgcm --name fc11-testreport -t -d mitgcm/testreport-images:fc11-base-20170715 /bin/bash
  - docker exec -i fc11-testreport rpm -vv --rebuilddb
  - docker exec -i fc11-testreport df -h
  - docker exec -i fc11-testreport ls -altr /MITgcm
  - docker exec -i fc11-testreport yum install python-pip
  - docker exec -i fc11-testreport yum install gcc-gfortran
  - docker exec -i fc11-testreport yum install python-argparse
  - echo `pwd`

jobs:
  include:
    # run the tests
    - stage: code tests
      env:
      - MITGCM_EXP="global_ocean.90x40x15" MITGCM_PRECS="16"
        MITGCM_DECMD="docker exec -i openad-testing bash -lc"
        MITGCM_TROPT="-oad -devel -of=../tools/build_options/linux_amd64_gfortran"
        MITGCM_INPUT_DIR_PAT='/input_oad.*'
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="offline_exf_seaice" MITGCM_PRECS="16 16 16 16 16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="global_ocean.cs32x15" MITGCM_PRECS="16 16 16 16 16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="tutorial_deep_convection" MITGCM_PRECS="16 16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="aim.5l_cs" MITGCM_PRECS="14 16"
      script: . tools/ci/runtr.sh

    - env:
      - MITGCM_EXP="isomip" MITGCM_PRECS="16 16 16 16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="global_ocean.90x40x15" MITGCM_PRECS="16 16 16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="tutorial_plume_on_slope" MITGCM_PRECS="16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="tutorial_advection_in_gyre" MITGCM_PRECS="16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="hs94.cs-32x32x5" MITGCM_PRECS="13 16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="tutorial_global_oce_biogeo" MITGCM_PRECS="16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="tutorial_global_oce_in_p" MITGCM_PRECS="16"
      script: . tools/ci/runtr.sh
    - env:
      - MITGCM_EXP="tutorial_cfc_offline" MITGCM_PRECS="16"
      script: . tools/ci/runtr.sh
    # - stage: summary of code tests
    # disabled because jobs do not share data
    # Generate a summary
    #  script: docker exec -i fc11-testreport bash -c "cd /MITgcm/verification; ./testreport ${MITGCM_TROPT} -q"
    # build documentation
    - stage: test documentation
      env:
      - BUILD="html"
      python: "2.7"
      script:
        - tools/ci/install_doc_dependencies.sh > /dev/null
        - cd doc
        - sphinx-build -nWa -b ${BUILD} -d _build/doctrees . _build/html
    - env:
      - BUILD="html"
      python: "3.6"
      script:
        - tools/ci/install_doc_dependencies.sh > /dev/null
        - cd doc
        - sphinx-build -nWa -b ${BUILD} -d _build/doctrees . _build/html
    - env:
      - BUILD="latexpdf"
      python: "2.7"
      script:
        - tools/ci/install_doc_dependencies.sh > /dev/null
        - cd doc
        - make clean ${BUILD} LATEXOPTS="-interaction=nonstopmode -halt-on-error"
    - env:
      - BUILD="latexpdf"
      python: "3.6"
      script:
        - tools/ci/install_doc_dependencies.sh > /dev/null
        - cd doc
        - make clean ${BUILD} LATEXOPTS="-interaction=nonstopmode -halt-on-error"
