*akefile
*.log
*.f
*.for
*.f90
*.mod
*.o
*.flowdir
*.tr_log
mfile*
mitgcmuv*
work.pc*
SIZE.h.mpi
PACKAGES_CONFIG.h
BUILD_INFO.h
AD_CONFIG.h
FC_NAMEMANGLE.h
genmake_state
genmake_ad_optfile
genmake_optfile
taf_command
taf_output
